.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.App-create {
  text-align: right;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

.Header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
